<div class="content homePrincipal">
  <div class="container" style="max-width: 100%;">
    <h2>{{ title }}</h2>
    <hr>
    <form #orderForm="ngForm">
      <div class="row mb-xlg">
        <div class="col-md-3">
          <div class="form-group">
            <label>Codigo da turma</label>
            <input type="number" class="form-control" name="codigoDisciplina" [(ngModel)]="codigoDisciplina">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Disciplina</label>
            <select class="custom-select" name="disciplinaSelecionado" [(ngModel)]="disciplinaSelecionado">
              <option *ngFor="let disciplina of disciplinas" [ngValue]="disciplina">{{ disciplina.nome }}</option>
            </select>
          </div>
          <div class="form-group">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Aluno</label>
            <select class="custom-select" name="opcaoProduto" [(ngModel)]="alunoSelecionado">
              <option *ngFor="let aluno of alunos" [ngValue]="aluno">{{ aluno.nome }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row mt-xlg mb-xlg">
        <div class="col-md-3">
          <button class="btn btn-primary" (click)="incluirItem()">Matricular</button>
        </div>
        <div class="col-md-9" style="text-align: right;">
          <button class="btn btn-success" (click)="fecharTurma()">Fechar turma</button>
        </div>
      </div>
    </form>
    <hr>
    <label>Consultar turma por código</label>
    <input type="number" class="" name="consultaTurma" [(ngModel)]="consultaTurma">
    <div class="col-md-3">
      <button class="btn btn-primary" (click)="consultarTumarSelecionada()">Consultar</button>
    </div>
    <h2>Turma Consultada</h2>
    <br><br>
    <div class="row tabela">
      <table>
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Disciplina</th>
            <th>Alunos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ turmaConsultada.codigo }}</td>
            <td>{{ turmaConsultada.discipTurma.nome }}</td>
            <td><p *ngFor="let itemAluno of turmaConsultada.listaAlunos">{{ itemAluno.nome }}, </p></td>
          </tr>
        </tbody>
      </table>
  </div>
    <h2>Alunos a serem matriculados:</h2>
    <div *ngFor="let item of listaAlunos">
      <p>Nome: {{ item.nome }} - Matricula: {{ item.nroMatric }}</p>
    </div>
    <br> 
    <div class="row tabela">
        <table>
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Disciplina</th>
              <th>Alunos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of turmas">
              <td>{{ item.codigo }}</td>
              <td>{{ item.discipTurma.nome }}</td>
              <td><p *ngFor="let itemAluno of item.listaAlunos">{{ itemAluno.nome }}, </p></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>