* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 60%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background: #fff;
  color: #200a20;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://i.ibb.co/3rP7Dtg/pexels-negative-space-169573.jpg");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}
.page-content {
  width: 100%;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
}

header {
  background-color: #12131a;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5em;
  nav {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    a {
      padding: 0 1em;
    }
  }
}
.footer-wrapper {
  position: absolute;
  bottom: 0;
  display: block;
  background-color: #12131a;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em;
}
main {
  display: flex;
  flex-direction: column;
  margin-left: 0.6em;
  align-items: center;
  .img-card {
    background-color: #12131a;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    display: flex;
    padding-right: 0.6em;
    flex-direction: column;
    align-items: center;
    img {
      margin: .6em;
      max-width: 300px;
      border-radius: 0.6em;
    }
    h2 {
      width: 100%;
      text-align: center;
      border-top: 1px solid white;
    }
    .curso {
      padding-bottom: 1em;
    }
    .description {
      text-align: justify;
      margin-left: 1.2em;
      margin-right: 1.2em;
      margin-bottom: 1.2em;
    }
  }
}

@media (min-width: 800px) {
  main {
    align-items: flex-start;
    .img-card {
      max-width: 400px;
    }
  }
}