* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 60%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

body {
  overflow: hidden;
  background: #fff;
  color: #200a20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://i.ibb.co/3rP7Dtg/pexels-negative-space-169573.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-content {
  width: 100%;
}

.page-content .div-1-hover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  background-color: yellowgreen;
  width: .6em;
  height: .6em;
}

.page-content .div-1-hover:hover {
  padding: 4em !important;
  z-index: 99;
  background-color: red;
  width: 2em;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins;
}

header {
  background-color: #12131a;
  width: 100%;
  height: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

header nav {
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav a {
  padding: 0 1em;
}

header nav a:hover {
  font-size: 120%;
}

.footer-wrapper {
  position: absolute;
  bottom: 0;
  background-color: #12131a;
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100%;
}

main .tres-colunas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

main .nav-esquerda {
  margin-left: 0;
  background-color: #12131a;
  width: 20%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .card-wrapper {
  width: 60%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .nav-direta {
  background-color: red;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .img-card {
  background-color: #12131a;
  color: white;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0.6em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .img-card img {
  margin: .6em;
  max-width: 300px;
  border-radius: 0.6em;
}

main .img-card h2::first-letter {
  color: yellow;
}

main .img-card h2 {
  width: 100%;
  text-align: center;
  border-top: 1px solid white;
}

main .img-card .curso::first-letter {
  color: yellow;
  font-size: 2em;
}

main .img-card .description {
  text-align: justify;
  margin-left: 1.2em;
  margin-right: 1.2em;
  margin-bottom: 1.2em;
}

main .img-card .description::first-letter {
  font-size: 2em;
  color: yellow;
}

@media (min-width: 800px) {
  main {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  main .img-card {
    max-width: 400px;
  }
}
/*# sourceMappingURL=styles.css.map */